* {
    padding: 0;
    margin: 0;
}

#menu {
    display: flex;
    position: fixed;
    left: 0;
    width: 85px;
    height: 100%;
    background-color: #f3f3f3;
    border-right: 1px solid darkgray;
    z-index: 1;
}

#menu img {
    margin-left: auto;
    margin-right: auto;
}

img {
    height: 50px;
    width: 50px;
}

#mIc {
    height: 60px;
    width: 60px;
}

img:hover {
    cursor: pointer;
}

.imessage {
    position: fixed;
    bottom: 0;
    left: 120px;
    height: 75px;
    width: 520px;
    background-color: white;
}

.imessage img {
    margin: 10px;
}

#phone {
    position: fixed;
    top: 0;
    left: 80px;
    height: 100%;
    width: 600px;
}

#text {
    top:-75px;
    left:219px;
    width: 300px;
    position: relative;
    border: 1px solid #555555;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius: 40px;
    background-color: #f9f9f9;
}

#text img {
    margin-top: -50px;
    margin-left: 225px;
}

#msg {
    margin-top: 20px;
    margin-left: 50px;
    top: 660px;
    left: 400px;
    color: #555555;
    font-size: xx-large;
    font-family: sans-serif;
    text-indent: 5px;
}

#left {
    position: fixed;
    top: 0;
    left: 80px;
    height: 100%;
    width: 600px;
    z-index: 2;
}

.message-left {
    position: absolute;
    margin-top: 10px;
    width: 200px;
    height: 60px;
    margin-left: 10px;
    text-align: left;
    background-color: #fff;
    border: 7px solid #6e6e6e;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.message-left:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 61px;
    border: 25px solid;
    border-color: #6e6e6e transparent transparent #6e6e6e;
}

.message-left:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 60px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}

#jewsticker {
    width: 180px;
    height: 110px;
    margin-top: 5px;
    margin-left: 35px;
}

p {
    margin-left: 10px;
    margin-top: 10px;
}

#chat {
    position: relative;
    left: 119px;
    width: 523px;
    height: 1550px;
}

.message-right {
    position: absolute;
    width: 200px;
    height: 60px;
    margin-left: 300px;
    text-align: left;
    border: 7px solid dodgerblue;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: dodgerblue;
    color: #ffffff;
}

.message-right:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 130px;
    top: 61px;
    border: 25px solid;
    border-color: dodgerblue dodgerblue transparent transparent ;
}

.message-right:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 140px;
    top: 61px;
    border: 15px solid;
    border-color: dodgerblue dodgerblue transparent transparent;
}

#msgright1 {
    margin-top: 300px;
}

#seasticker {
    position: absolute;
    width: 180px;
    height: 110px;
    margin-top: -160px;
    margin-left: 10px;
}

.stickerleft {
    position: absolute;
    top: 350px;
}

#chaika {
    margin-left: 40px;
    height: 100px;
    width: 150px;
}

#bulvar {
    margin-top: -20px;
    margin-left: 20px;
    height: 180px;
    width: 260px;
    border-radius: 30px;
}

#city {
    position: fixed;
    top: 20px;
    left: 1320px;
    height: 150px;
    width: 150px;
    opacity: 0.9;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 5;
}

.odessa {
    position: absolute;
    left: 850px;
    top: 30px;
    z-index: 1;
}

#odessa {
    height: 300px;
    width: 500px;
}

#stairs {
    position: absolute;
    height: 100px;
    width: 180px;
    margin-top: -55px;
    margin-left: 300px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    z-index: 3;
}

#infoblockod {
    position: absolute;
    top: 220px;
    left: -20px;
    height: 270px;
    width: 350px;
    box-shadow: 1px 1px 32px -10px #000000;
    background-color: white;
    z-index: 1;
}

h1 {
    margin: 10px;
    font-weight: bolder;
    font-size: 64px;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

#infoblockod p {
    font-family: sans-serif;
    width: 310px;
    margin-left: 30px;
    line-height: 25px;
}

#ods {
    background: url("http://imgur.com/bUHZWfH.jpg") 10px -230px no-repeat;
    -webkit-background-size: 500px 300px;
    background-size: 500px 300px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#infoblockod img {
    margin-top: 10px;
    margin-left: 40px;
    height: 40px;
    width: 110px;
}

#msgleft2 {
    top: 650px;
}

.stickerright {
    position: absolute;
    left: 210px;
}

.stickerright img {
    height: 200px;
    width: 300px;
}

#snail {
    position: absolute;
    top: 750px;
}

#kievtort {
    position: absolute;
    top: 1000px;
}

.stickerleft img {
    height: 200px;
    width: 300px;
}

#candies {
    position: absolute;
    top: 850px;
}

#cheburek {
    position: absolute;
    top: 1000px;
}

#khreschatik {
    position: absolute;
    top: 900px;
    left: 750px;
    height: 350px;
    width: 700px;
    border-radius: 5px;
}

#pole {
    position: absolute;
    top: 1200px;
    left: 1000px;
    height: 100px;
    width: 200px;
    border-radius: 75px;
}

#infoblockki {
    position: absolute;
    top: 1320px;
    left: 925px;
    height: 200px;
    width: 350px;
    box-shadow: 1px 1px 32px -10px #000000;
    background-color: white;
    z-index: 1;
}

#infoblockki p {
    font-family: sans-serif;
    width: 310px;
    margin-left: 30px;
    line-height: 25px;

}

#infoblockki img {
    margin-top: 10px;
    margin-left: 40px;
    height: 40px;
    width: 110px;
}

#infoblockki h2 {
    margin: 15px;
}