*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #3c3c3c;
	font-family: Arial, sans-serif;
	line-height: 1.5;
}

/*-------------------------------------------------------------*/

@media only screen and (min-width: 240px){/* Smartphones */
	.app-header{
		height: 12%;
	}
}
 
@media only screen and (min-width : 768px){/* tablets */
	.app-header{
		height: 60px;
	}
}

@media only screen and (min-width: 1024px){/* PC */
	.app-header{
		height: 50px;
	}
}
/*-------------------------------------------------------------*/

.app-header{
	position: absolute;
	width: 100%;
	transition: all 0.3s;
	background-image: -webkit-linear-gradient(bottom, #14171B, #22252A);
    background-image: linear-gradient(to top,#14171B, #22252A);
}

.hmenu-item {
	color: white;
	display: inline-block;
	height: 100%;
	width: 60px;
	/*border: 1px solid black;*/
	text-align: center;
	padding: 0 5px;	
 	margin: 0 auto;	
}

.hmenu-item:hover{
	cursor: pointer;
	background: rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------*/
.nav-icon {
	margin: 0.75em;
    width: 40px;
}

.nav-icon:before,
.nav-icon:after,
.nav-icon div {
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 5px 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nav-icon:hover:before{
    -webkit-transform : translateY(12px) rotate(135deg);
    -moz-transform    : translateY(12px) rotate(135deg);
    -ms-transform     : translateY(12px) rotate(135deg);
    -o-transform      : translateY(12px) rotate(135deg);
    transform         : translateY(12px) rotate(135deg);
}
.nav-icon:hover:after{
    -webkit-transform : translateY(-9px) rotate(-135deg);
    -moz-transform    : translateY(-9px) rotate(-135deg);
    -ms-transform     : translateY(-9px) rotate(-135deg);
    -o-transform      : translateY(-9px) rotate(-135deg);
    transform         : translateY(-9px) rotate(-135deg);
}

.nav-icon:hover div{
    -webkit-transform : scale(0);
    -moz-transform    : scale(0);
    -ms-transform     : scale(0);
    -o-transform      : scale(0);
    transform         : scale(0);
}



/*---------------------------------------------*/
.color-line{
	left:0;
	right: 0;
	display: inline-block;
	position: absolute;
	height: 4px;
	width: 100%;
	bottom: -4px;
	list-style: none;
	overflow: hidden;
}

.app-header .color-line .color{	
	position: absolute;
	width: 34%;
	height: 4px;
}

.color:nth-child(1){
	left: 0;
	background: rgba(255, 0, 0, 1);
}

.color:nth-child(2){
	left: 33%;
	background: rgba(0, 255, 0, 1);
}

.color:nth-child(3){
	left: 66%;
	background: rgba(0, 0, 255, 1);
}
/*---------------------------------------------*/